{% extends 'generic/object.html' %}
{% load helpers %}

{% block title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'plugins:business_application:servicedependency_list' %}">Service Dependencies</a></li>
    <li class="breadcrumb-item active">{{ object.name }}</li>
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Service Dependency Details</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Upstream Service</th>
                        <td>
                            <a href="{{ object.upstream_service.get_absolute_url }}">
                                {{ object.upstream_service.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Downstream Service</th>
                        <td>
                            <a href="{{ object.downstream_service.get_absolute_url }}">
                                {{ object.downstream_service.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Dependency Type</th>
                        <td>
                            {% if object.dependency_type == 'normal' %}
                                <span class="badge bg-warning text-dark">
                                    <i class="mdi mdi-link"></i> Normal
                                </span>
                            {% elif object.dependency_type == 'redundancy' %}
                                <span class="badge bg-success text-light">
                                    <i class="mdi mdi-backup-restore"></i> Redundancy
                                </span>
                            {% else %}
                                <span class="badge bg-light text-dark">
                                    {{ object.get_dependency_type_display }}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if object.description %}
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ object.description|linebreaksbr }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Dependency Impact</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        {% if object.dependency_type == 'normal' %}
                            <div class="alert alert-warning">
                                <i class="mdi mdi-alert-outline"></i>
                                <strong>Normal Dependency:</strong>
                                If <strong>{{ object.upstream_service.name }}</strong> fails,
                                <strong>{{ object.downstream_service.name }}</strong> will be affected.
                            </div>
                        {% elif object.dependency_type == 'redundancy' %}
                            <div class="alert alert-success">
                                <i class="mdi mdi-backup-restore"></i>
                                <strong>Redundancy Dependency:</strong>
                                <strong>{{ object.downstream_service.name }}</strong> will only be affected
                                if ALL its redundant dependencies fail.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
