{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:business_application:eventsource_list' %}">Event Sources</a></li>
{% endblock %}

{% block content %}
<div class="row mb-3">
    <!-- Left Column: Main Details -->
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">
                Event Source Details
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>

    <!-- Right Column: Related Events -->
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">
                Recent Events from this Source
            </h5>
            <div class="card-body">
                {% if object.event_set.count > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Criticality</th>
                                <th>Last Seen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in object.event_set.all|slice:":10" %}
                            <tr>
                                <td><a href="{{ event.get_absolute_url }}">{{ event.message|truncatechars:50 }}</a></td>
                                <td><span class="badge badge-{{ event.status }}">{{ event.get_status_display }}</span></td>
                                <td><span class="badge badge-{{ event.criticallity }}">{{ event.get_criticallity_display }}</span></td>
                                <td>{{ event.last_seen_at|date:"M d, Y H:i" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if object.event_set.count > 10 %}
                        <p><em>Showing 10 of {{ object.event_set.count }} events.</em></p>
                    {% endif %}
                {% else %}
                    <p>No events from this source.</p>
                {% endif %}
            </div>
        </div>
        {% plugin_right_page object %}
    </div>
</div>
{% endblock %}