{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'plugins:business_application:changetype_list' %}">Change Types</a></li>
{% endblock %}

{% block content %}
<div class="row mb-3">
    <!-- Left Column: Change Type Details -->
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">
                Change Type Details
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>

    <!-- Right Column: Related Changes -->
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">
                Changes of this Type
            </h5>
            <div class="card-body">
                {% if object.change_set.count > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Object</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for change in object.change_set.all|slice:":10" %}
                            <tr>
                                <td><a href="{{ change.get_absolute_url }}">{{ change.description|truncatechars:50 }}</a></td>
                                <td>
                                    {% if change.obj %}
                                        <a href="{{ change.obj.get_absolute_url }}">{{ change.obj }}</a>
                                    {% else %}
                                        <em>N/A</em>
                                    {% endif %}
                                </td>
                                <td>{{ change.created_at|date:"M d, Y H:i" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if object.change_set.count > 10 %}
                        <p><em>Showing 10 of {{ object.change_set.count }} changes.</em></p>
                    {% endif %}
                {% else %}
                    <p>No changes of this type.</p>
                {% endif %}
            </div>
        </div>
        {% plugin_right_page object %}
    </div>
</div>
{% endblock %}